<table>
  <tr>
    <th>User name</th>
    <th>Id</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Email Address</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>
      <a routerLink="userDetails/{{user.id}}">
        {{user.username}}
      </a>
    </td>
    <td>{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td class="del-button">
      <a href="#" (click)="delUser(user)">
        <img src="../assets/del.png" alt="HTML tutorial" style="width:16px;height:16px;border:0;">
      </a>
    </td>
  </tr>
</table>
<div>&nbsp;</div>
<div>
  <button (click)="reset()">Reset</button>
</div>
<div>&nbsp;</div>
<div>
  <Label style="margin: 4px">Username
    <input style="margin: 24px" #newUserName>
  </Label>
  <input type="submit" style="margin: 14px" (click)="addNewUser(newUserName.value); newUserName.value=''" value="Add">
</div>
