<div> 
  <table>
    <tr>
      <td>Id:&nbsp;</td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Username:&nbsp;</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>First Name:&nbsp;</td>
      <td><input [(ngModel)]="user.firstName"/></td>
    </tr>
    <tr>
      <td>Last Name:&nbsp;</td>
      <td><input [(ngModel)]="user.lastName"/></td>
    </tr>
    <tr>
      <td>email:&nbsp;</td>
      <td><input [(ngModel)]="user.email"/></td>
    </tr>
  </table>
 </div>
 <div><span>
 <input type="submit" style="margin: 14px" (click)="goBack()" value="Back">
 </span>
 <span>
 <button (click)="putUser(user)" >Update</button>
 </span>
</div>